<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, nesciunt nam. Dicta, vel. Ea blanditiis mollitia facilis veniam dicta quisquam. Pariatur doloremque ipsam illo sunt recusandae eos debitis adipisci alias?</p>

<%- include("footer") -%>